* {
      box-sizing: border-box;
      margin: 0;
      border: none;
      line-height: 1.6;
}
.page {
      display: flex;
      flex-direction: column;
      font-family: Arial, sans-serif;
      line-height: 1.5;
      color: #333;
      width: 100vw;
      align-items: center;
      min-height: 100svh;
}
.main {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      width: 100%;
}

.register-form {
      background-color: #1a866b;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 400px;
      max-width: 400px;
      justify-content: space-around;
      color: white;
      align-items: center;
      padding: 10px;
}

.label {
      border-radius: 5px;
}

.user-details-input {
      background-color: white;
      color: black;
      width: 70%;
      border-radius: 20px;
      padding: 2px;
      padding-left: 10px;
      outline: none;
}
.user-details-input::placeholder {
      color: black;
}
.register-button {
      background-color: palegreen;
      cursor: pointer;
      color: black;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      margin: 5px;
      font-size: 16px;
      width: 50%;
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
}
.login-button:hover {
      box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}
