.main {
      padding: 20px;
      justify-content: space-around;
      display: flex;
}

.video-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      flex-grow: 1;
      background-color: lavenderblush;
      height: fit-content;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      position: relative;
}

.more-videos-section {
      margin-left: 20px;
}

.more-videos {
      display: grid;
}

.video {
      width: 300px;
      margin-top: 20px;
      background-color: lavenderblush;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
}
.video-items {
      display: flex;
}
.channel-image {
      height: 50px;
      width: 55px;
      border-radius: 50%;
      margin: 10px;
}

.video-thumbnail {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
}
.video-title {
      font-size: 14px;
      font-weight: bold;
      margin: 2px;
}
.video-channel,
.video-views {
      font-size: 13px;
      font-weight: 600;
      margin: 2px;
      color: gray;
}

.delete-video-from-play-list-button {
      margin-top: auto;
      cursor: pointer;
      color: red;
}

@media (max-width: 1000px) {
      .main {
            flex-direction: column;
            padding: 5px;
      }
      .video {
            width: 100%;
      }
      .more-videos-section {
            margin-left: 0px;
      }
      .more-videos {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-column-gap: 20px;
            grid-row-gap: 10px;
      }
}
