.video-iframe {
      border-radius: 30px;
      flex-grow: 1;
}

.video-info-and-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
}
.channel-info {
      display: flex;
      align-items: center;
      background-color: lightblue;
      width: fit-content;
      padding-right: 5px;
      padding-left: 5px;
      border-radius: 30px;
      text-align: center;
}
.channel-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin: 10px;
}

.channel-name {
      font-weight: bold;
      font-size: 12px;
}

.channel-subscribers {
      font-size: 12px;
}

.video-options {
      margin-left: 5px;
      display: flex;
}
.video-like-button {
      background-color: transparent;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: lightblue;
      border-radius: 15px;
      margin: 5px;
      cursor: pointer;
}

.video-like-icon {
      margin-right: 2px;
}

.loader {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
}
