.nav {
      display: flex;
      justify-content: space-between;
      background-color: #1a866b;
      color: white;
      padding: 10px;
      align-items: center;
      width: 100%;
}

.side-bar-open-button {
      margin-left: 10px;
      margin-right: 10px;
      background-color: transparent;
      height: 100%;
      cursor: pointer;
      font-size: 25px;
      color: white;
}

.logo {
      margin: 10px;
      font-size: 25px;
      font-weight: bold;
      color: white;
}

.nav-link {
      color: white;
      margin: 10px;
}

.search-bar {
      background-color: white;
      border: none;
      width: 30vw;
      height: 30px;
      border-radius: 20px;
      padding: 5px;
      outline-color: teal;
}

.logout-button {
      background-color: transparent;
      outline: none;
      cursor: pointer;
      font-size: inherit;
      color: white;
}

@media (max-width: 800px) {
      .logo {
            font-size: 18px;
      }
      .side-bar-open-button {
            font-size: 20px;
      }

      .nav-link,
      .logout-button {
            font-size: 13px;
      }
}
