.play-lists-overlay {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
}
.play-lists-options {
      border-radius: 20px;
      background-color: white;
      display: flex;
      flex-direction: column;
}

.play-lists-overlay-close-button {
      color: white;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 32px;
      cursor: pointer;
}

.play-lists-heading {
      text-align: center;
      margin: 5px;
}

.create-new-playlist {
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
}
.input-new-playlist {
      color: black;
      border: 2px solid black;
      border-radius: 20px;
      flex-grow: 1;
      margin-right: 5px;
      padding: 2px;
}
.play-lists {
      display: flex;
      flex-direction: column;
}

.play-lists-close-button {
      margin: 2px;
      background-color: red;
      columns: white;
      padding-right: 8px;
      padding-left: 8px;
      padding-top: 3px;
      padding-bottom: 3px;
      border-radius: 20px;
      color: white;
      cursor: pointer;
}

.create-new-playlist-button {
      background-color: green;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      color: white;
      cursor: pointer;
}
.save-and-close-buttons {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
}
