.main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.watch-later-videos {
      display: grid;
      padding: 10px;
      grid-template-columns: repeat(auto-fit, 350px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      width: fit-content;
      max-width: 80%;
}

@media (max-width: 1000px) {
      .watch-later-videos {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            width: 100%;
            max-width: 100%;
      }
}
