.main {
      background-color: aliceblue;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

.videos {
      display: grid;
      padding: 10px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-column-gap: 20px;
      grid-row-gap: 10px;
}
.next-page-section {
      display: flex;
      width: 100%;
      justify-content: center;
}
