.video {
      position: relative;
      background-color: lavenderblush;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
}

.loader {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
}
.video-items {
      display: flex;
}
.channel-image {
      height: 50px;
      width: 55px;
      border-radius: 50%;
      margin: 10px;
}

.video-thumbnail {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
}
.video-title {
      font-size: 14px;
      font-weight: bold;
      margin: 2px;
}
.video-channel,
.video-views {
      font-size: 13px;
      font-weight: 600;
      margin: 2px;
      color: gray;
      font-style: italic;
}

.video-options-open-button {
      position: absolute;
      right: 10px;
      bottom: 10px;
      cursor: pointer;
      font-size: 18px;
}
