.play-list {
      width: 70%;
      display: flex;
      padding: 10px;
      align-items: center;
      background-color: bisque;
      margin: 5px;
}

.play-list-logo {
      font-size: 32px;
      color: violet;
}
.play-list-info {
      margin-left: 20px;
}
.play-list-drop-down-button {
      margin-left: auto;
      cursor: pointer;
      font-size: 20px;
      color: green;
}
.delete-play-list-button {
      margin-left: 10px;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      background-color: red;
      display: flex;
      align-items: center;
}

.play-list-videos {
      display: grid;
      padding: 10px;
      grid-template-columns: repeat(auto-fit, 250px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      width: 70%;
      max-width: 70%;
}
.play-list-videos::-webkit-scrollbar {
      height: 5px;
}

.play-list-videos::-webkit-scrollbar-thumb {
      background-color: violet;
      border-radius: 20px;
}

.video {
      width: 200px;
      margin: 10px;
      position: relative;
}
.video-items {
      display: flex;
}
.channel-image {
      height: 50px;
      width: 55px;
      border-radius: 50%;
      margin: 10px;
}

.video-thumbnail {
      width: 200px;
      height: 100px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
}
.video-title {
      font-size: 15px;
      font-weight: bold;
      margin: 2px;
}
.video-channel,
.video-views {
      font-size: 13px;
      font-weight: 600;
      margin: 2px;
}

.delete-video-from-play-list-button {
      margin-top: auto;
      cursor: pointer;
      color: white;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: red;
      border-radius: 5px;
      height: 25px;
      justify-content: center;
}

@media (max-width: 1000px) {
      .play-list {
            width: -webkit-fill-available;
            margin: 15px;
      }
      .play-list-videos {
            width: -webkit-fill-available;
            margin: 5px;
      }
      .play-list-name {
            font-size: 1em;
      }
}

@media (max-width: 1000px) {
      .play-list-videos {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            width: 100%;
            max-width: 100%;
      }
}
